---
BasedOnStyle: LLVM
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: Always
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: WebKit
ColumnLimit: 80
DerivePointerAlignment: false
PointerAlignment: Left
...
