---
BasedOnStyle: LLVM
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterFunction: true
  SplitEmptyRecord: false
ColumnLimit: 80
DerivePointerAlignment: false
PointerAlignment: Left
...
