language: cpp
sudo: require

linux: &linux
  os: linux
  dist: bionic
  language: python
  python: "3.8"
  install:
    - pip install conan cmake
  script:
    - mkdir build && cd build
    - cmake  -G Ninja .. $CMAKE_OPTIONS
    - cmake --build .
    - if [ "${BUILD_ONLY}" != "1" ]; then ctest --verbose; fi

matrix:
  include:
    - <<: *linux
      compiler: gcc
      name: GCC 9 with Unit Test
      env: CC="/usr/bin/gcc-9" CXX="/usr/bin/g++-9" CMAKE_OPTIONS="-DBP_BUILD_TESTS=ON -DCMAKE_BUILD_TYPE=Release"
      addons:
        apt:
          sources:
            - sourceline: 'ppa:ubuntu-toolchain-r/test'
          packages:
            - g++-9
            - clang-9
            - ninja-build
      before_script:
        - sudo ln -s /usr/bin/gcc-9 /usr/local/bin/gcc
        - sudo ln -s /usr/bin/g++-9 /usr/local/bin/g++


    - <<: *linux
      compiler: clang
      name: Clang 9 with Unit Test
      env:
        - CC="/usr/bin/clang-9"
        - CXX="/usr/bin/clang++-9"
        - CMAKE_OPTIONS="-DBP_BUILD_TESTS=ON -DCMAKE_BUILD_TYPE=Release"
      addons:
        apt:
          packages:
            - g++-9
            - clang-9
            - ninja-build
      before_script:
        - sudo ln -s /usr/bin/clang-9 /usr/local/bin/clang
        - sudo ln -s /usr/bin/clang++-9 /usr/local/bin/clang++


    # Coverage
    - <<: *linux
      compiler: gcc
      name: Coverage
      env:
        - BUILD_ONLY=1 CC="/usr/bin/gcc-9"
        - CXX="/usr/bin/g++-9"
        - GCOV="/usr/bin/gcov-9"
        - CMAKE_OPTIONS=" -DCMAKE_BUILD_TYPE=Debug -DBP_BUILD_TESTS=ON -DBP_BUILD_TESTS_COVERAGE=ON" CODECOV_TOKEN="bfb807d5-6b2e-4d8d-8dae-0dcabf3c5c68"
      addons:
        apt:
          sources:
            - sourceline: 'ppa:ubuntu-toolchain-r/test'
          packages:
            - g++-9
            - lcov
            - ninja-build
      before_script:
        - sudo ln -s /usr/bin/gcc-9 /usr/local/bin/gcc
        - sudo ln -s /usr/bin/g++-9 /usr/local/bin/g++
        - sudo ln -s /usr/bin/gcov-9 /usr/local/bin/gcov
      after_success:
        - make coverage
        - bash <(curl -s https://codecov.io/bash) || echo "Codecov did not collect coverage reports";

    - <<: *linux
      compiler: clang
      name: Clang 9 with ASAN and UBSAN
      env:
        - CC="/usr/bin/clang-9"
        - CXX="/usr/bin/clang++-9"
        - CMAKE_OPTIONS="-DBP_BUILD_TESTS=ON -DCMAKE_BUILD_TYPE=DEBUG -DBP_USE_ASAN=ON -DBP_USE_UBSAN=ON"
      addons:
        apt:
          packages:
            - g++-9
            - clang-9
            - ninja-build
      before_script:
        - sudo ln -s /usr/bin/clang-9 /usr/local/bin/clang
        - sudo ln -s /usr/bin/clang++-9 /usr/local/bin/clang++

    - <<: *linux
      compiler: clang
      name: Clang 9 with TSAN
      env:
        - CC="/usr/bin/clang-9"
        - CXX="/usr/bin/clang++-9"
        - CMAKE_OPTIONS="-DBP_BUILD_TESTS=ON -DCMAKE_BUILD_TYPE=DEBUG -DBP_USE_TSAN=ON"
      addons:
        apt:
          packages:
            - g++-9
            - clang-9
            - ninja-build
      before_script:
        - sudo ln -s /usr/bin/clang-9 /usr/local/bin/clang
        - sudo ln -s /usr/bin/clang++-9 /usr/local/bin/clang++

    #
    # Git Check
    #
    - os: linux
      name: git-check
      script:
        - |
          if [[ -n $(git diff --check HEAD^) ]]; then
            echo "You must remove whitespace before submitting a pull request"
            echo ""
            git diff --check HEAD^
            exit -1
          fi
